<header class="card-header">
    <p>{{ card.date | date }}</p>
    <h2>{{ card.description }}</h2>
</header>

<div class="card-author">
    <a class="author-avatar" href="#">
        <img [src]="card.avatarUrl"/>
    </a>
    
    <svg class="half-circle" viewBox="0 0 106 57">
        <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
    </svg>

    <div class="author-name">
        <div class="author-name-title">{{ card.authorTitle }}</div>
        {{ card.authorName }}
    </div>
</div>

<div class="tags">
    <a href="#" *ngFor="let tag of card.tags">{{ tag }}</a>
</div>
